@tailwind base;
@tailwind components;
@tailwind utilities;

.shift-in {
  opacity: 0;
  transform: translateY(100%);
  transition: all 1s;
}

.shift-in.reduced {
  transform: translateY(25%);
}

.delay-150 {
  transition-delay: 150ms;
}

.delay-300 {
  transition-delay: 300ms;
}

.delay-500 {
  transition-delay: 500ms;
}

.bg-website-design-with-template {
  background-image: url("/website-design-with-template.png");
}

.bg-website-design-no-template {
  background-image: url("/website-design-no-template.png");
}

.bg-branding-package {
  background-image: url("/branding-package.png");
}

.bg-color-palette-and-fonts {
  background-image: url("/color-palette-and-fonts.png");
}

.bg-logo-design {
  background-image: url("/logo-design.png");
}

.bg-logo-redesign {
  background-image: url("/logo-redesign.png");
}

.bg-nav-logo {
  background-image: url("/nav-logo.svg");
}

.bg-moa-branding-logo {
  background-image: url("/moa-branding-logo.svg");
}

.bg-business-card-design {
  background-image: url("/business-card-design.jpg");
}

.bg-arya-headshot-square {
  background-image: url("/arya-headshot-square.png");
}

.bg-micah-headshot-square {
  background-image: url("/micah-headshot-square.png");
}

.bg-owen-headshot-square {
  background-image: url("/owen-headshot-square.png");
}
