@tailwind base;
@tailwind components;
@tailwind utilities;

.shift-in {
  opacity: 0;
  transform: translateY(100%);
  transition: all 1s;
}

.shift-in.loaded {
  opacity: 1;
  transform: translateY(0);
}

.delay-150 {
  transition-delay: 150ms;
}

.delay-300 {
  transition-delay: 300ms;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
