@tailwind base;
@tailwind components;
@tailwind utilities;

.shift-in {
  opacity: 0;
  transform: translateY(100%);
  transition: all 1s;
}

.shift-in.reduced {
  transform: translateY(25%);
}

.shift-in.loaded {
  opacity: 1;
  transform: translateY(0);
}

.delay-150 {
  transition-delay: 150ms;
}

.delay-300 {
  transition-delay: 300ms;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bg-branding-package-mockup {
  background-image: url("./assets/branding-package-mockup.png");
}

.bg-branding-package-website {
  background-image: url("./assets/branding-package-website.png");
}

.bg-branding-package {
  background-image: url("./assets/branding-package.png");
}

.bg-color-palette-fonts {
  background-image: url("./assets/color-palette-fonts.png");
}

.bg-logo-design {
  background-image: url("./assets/logo-design.png");
}

.bg-logo-redesign {
  background-image: url("./assets/logo-redesign.png");
}
